.contact-img {
  height: 30px;
}

.footer-img{
  height: 163px;
}


.footer-link{
  color: white;
}

.card-link{
  text-decoration: none;
  color: black;
}

p{
  text-align: justify;
  text-justify: inter-word;
}

h2{
  text-align: center;
}